<form action="/shop/buy/<%= product._id%>" method="post">
    <button class="product-button" type="submit">
        buy now
    </button>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>