<form action="/shop/buy/<%= product.id%>" method="post">
    <button class="product-button" type="submit">
        buy now
    </button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>