<header class="main-header">
    <ul class="pages-div">
        <li class="<%= path === '/' ? 'active-input' : '' %> pages-options"><a href="/">shop</a></li>
        <li class="<%= path === '/admin/home' ? 'active-input' : '' %> pages-options"><a href="/admin/home">add product</a></li>
    </ul>
</header>