doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css files/headerfile.css")
        block styles 
    body 
        header.main-header
            ul.pages-div
                li.pages-options
                    a(href="/") shop
                li.pages-options
                    a(href="/admin/home") add product
        block main