<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product page</title>
    <link rel="stylesheet" href="/css files/product.css">
</head>
<body>
    <header class="main-header">
        <ul class="pages-div">
            <li class="pages-options"><a href="/">shop</a></li>
            <li class="pages-options"><a href="/admin/home">add product</a></li>
        </ul>
    </header>
    <main class="main-input-list">
        <form action="/admin/product" method="POST">
            <label class="label-input" for="title">You can add your product from here :</label>
            <div class="small-div">
                <input class="input-bar" type="text" name="title" id="title">
                <button class="input-button" type="submit">add product</button>
            </div>
        </form>
    </main>
 
</body>
</html>