extends layouts/main-layouts 
block styles 
    link(rel="stylesheet", href="/css files/shop.css")
block main
        p.prodcuts-informations all products that we have :
        div.all-products-div
            if products.length > 0 
                each product in products 
                        article
                            div.product-div
                                header.product-name #{product.title}

                                div.product-image-div
                                    img.product-image-inp(src="https://assets.blurb.com/pages/website-assets/lp-homepage/3_Tradebooks-922752db04177f3417c8505ff1970f9d88be19f966cff7ce4654bd85c5073ac3.png" , alt="")
                                div.product-price-dis
                                    div.product-price-div $19.99 
                                    div.product-description-div this is me and i like your cut
                                div.product-button-div
                                    button.product-button buy now
            else 
                p there are no products for now