<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop page</title>
</head>
<body>
    <header class="main-header">
        <ul class="pages-div">
            <li class="pages-options"><a href="/">shop</a></li>
            <li class="pages-options"><a href="/admin/home">add product</a></li>
        </ul>
    </header>
    <main class="main-products">
        <h1>products</h1>
        <div class="all-products-div">
            <article>
                <div class="product-div">
                    <header class="product-name">
                        book
                    </header>
                    <div class="product-image-div">
                        <img class="product-image-inp" src="https://assets.blurb.com/pages/website-assets/lp-homepage/3_Tradebooks-922752db04177f3417c8505ff1970f9d88be19f966cff7ce4654bd85c5073ac3.png" alt="">
                    </div>
                    <div class="product-price-dis">
                        <div class="product-price-div">
                          <b> $19.99 </b> 
                        </div>
                        <div class="product-description-div">
                            ho this is me and i like your cut g
                        </div>
                    </div>
                    <div class="product-button-div">
                        <button class="product-button">
                            buy now
                        </button>
                    </div>
                </div>
            
            </article>
    </main>
 
</body>
</html>